@import "tailwindcss";
@keyframes draw-border {
  0% {
    mask-image: linear-gradient(0deg, black 0%, transparent 0%);
    -webkit-mask-image: linear-gradient(0deg, black 0%, transparent 0%);
  }
  100% {
    mask-image: linear-gradient(360deg, black 100%, transparent 100%);
    -webkit-mask-image: linear-gradient(360deg, black 100%, transparent 100%);
  }
}

.animate-draw-border {
  animation: draw-border 1.5s linear forwards;
}
